.container {
  width: 65%;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  margin-bottom: 10rem;
  margin-top: 2rem;
}

.featuresItem {
  flex-direction: row;
  display: flex;
  align-items: center;
  background-color: #F0F4F8;
  width: 252px;
  margin: auto;
  margin-top: 24px;
  padding-left: 10px;
  border-radius: 8px;
  padding: 8px;
}

html[data-theme='dark'] .featuresItem {
  flex-direction: row;
  display: flex;
  align-items: center;
  background-color: #36373B;
  width: 252px;
  margin: auto;
  margin-top: 24px;
  padding-left: 10px;
  border-radius: 8px;
  padding: 8px;
}

.featureSvg {
  padding-left: 7px;
  padding-top: 7px;
  padding-right: 7px;
  background-color: white;
  border-radius: 4px;
}

html[data-theme='dark'] .featureSvg {
  padding-left: 7px;
  padding-top: 7px;
  padding-right: 7px;
  background-color: #4E4E4E;
  border-radius: 4px;
}

.featuresText {
  margin: auto;
  width: 130px;
  margin-left: 12px;
  color: #09223B;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

html[data-theme='dark'] .featuresText {
  margin: auto;
  width: 130px;
  margin-left: 12px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.featuresItem:hover {
  background-color: #D9E2EC;
}

html[data-theme='dark'] .featuresItem:hover {
  background-color: #5E6267;
}
