/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.header {
  margin: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 146px;
  background: url("@site/static/img/green-banner.svg") no-repeat center;
  h3 {
    font-size: 36px;
    line-height: 50px;
    color: white;
    margin-top: 30px;
  }
}

.searchResult {
  border-radius: 14px;
  padding-left: 26px;
  // padding-right: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.headerSearch {
  display: flex;
}

.titleSearch {
  font-size: 14px;
  line-height: 20px;
  margin: auto;
  margin-left: 0;
}