/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.header {
  margin: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 146px;
  background: url("@site/static/img/blue-banner.svg") no-repeat center;
  h3 {
    font-size: 36px;
    line-height: 50px;
    color: white;
    margin-top: 30px;
  }
}

html[data-theme='dark'] .header {
  margin: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 146px;
  background: url("@site/static/img/black-banner.svg") no-repeat center;
  h3 {
    font-size: 36px;
    line-height: 50px;
    color: white;
    margin-top: 30px;
  }
}

.viewParentNoti {
  flex-direction: row;
  display: flex;
}

.notification {
  width: 100%;
  background-color: #FDF8E3;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-align: center;
    margin: 0;
    margin-left: 10px;
    margin-right: 3px;
  }
  .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-decoration: underline;
  }
}

.close {
  background-color: #FDF8E3;
  border-color: transparent;
  margin-left: auto; 
  margin-right: 0;
  position: relative;
  padding-right: 10px;
}
