.formContainer {
    height: 54px;
    border-radius: 14px !important;
    background-color: white;
    border: 1px solid #D6D6D6 !important;
    color: black !important;
}

html[data-theme='dark'] .formContainer {
    height: 54px;
    border: 20px !important;
    border-radius: 14px !important;
    background-color: #6A6A6A;
}

.inputSearch {
    color: #09223B;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

html[data-theme='dark'] .inputSearch {
    color: #F5F6F7;
}

.aisPoweredBy {
    margin-top: 0.5rem;
    margin-right: 26px;
}
  
.aisPoweredBylogo {
    height: 1rem;
}

.resultLinkContainer {
    display: flex;
}

.parentDocText {
    color: #486581;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow-x: hidden;
    display: block;
    padding-top: 13px;
    padding-left: 18px;
    width: 32%;
}

html[data-theme='dark'] .parentDocText {
    color: white;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow-x: hidden;
    display: block;
    padding-top: 13px;
    padding-left: 18px;
    width: 32%;
}

.resultLink {
    font-weight: 500;
    font-size: 14px;
    color: black;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    height: 45px;
    padding-top: 13px;
    padding-left: 11px;
    width: 68%;
}

html[data-theme='dark'] .resultLink {
    font-weight: 500;
    font-size: 14px;
    color: white;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    height: 45px;
    padding-top: 13px;
    padding-left: 11px;
    width: 68%;
}

.resultLink:hover {
    background-color: #F0F4F8;
    border-radius: 4px;
}

html[data-theme='dark'] .resultLink:hover {
    background-color: #0083FF;
    border-radius: 4px;
}

.highlineText {
    color: #5959EB;
}

html[data-theme='dark'] .highlineText {
    color: #9090f9;
}

.searchResult {
    border-radius: 14px !important;
    background-color: white !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

html[data-theme='dark'] .searchResult {
    border-radius: 14px !important;
    background-color: #44464B !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  }

.listResultsContainer {
    background-color: transparent !important;
}

.item {
    display: block !important;
    padding: 0 !important;
}

.item[aria-selected=true] {
    background-color: transparent !important;
}

.headerSearch {
    display: flex;
    height: 50px;
    padding-left: 26px;
    align-items: center;
}

.titleSearch {
    font-size: 14px;
    line-height: 20px;
    margin: auto;
    margin-left: 0;
    padding-top: 5px;
}

html[data-theme='dark'] .titleSearch {
    color: white;
}

.noResult {
    color: black;
    font-size: 18px;
    margin-top: 8px;
    text-align: center;
}

html[data-theme='dark'] .noResult {
    color: white;
}