.formContainer {
    height: 54px;
    border: 20px !important;
    border-radius: 14px !important;
    background-color: white;
    color: black !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    ::placeholder {
        color: #486581;
        opacity: 0.3;
    }
}

html[data-theme='dark'] .formContainer {
    height: 54px;
    border: 20px !important;
    border-radius: 14px !important;
    background-color: #5E6267;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    ::placeholder {
        color: #F5F6F7;
        opacity: 0.3;
    }
}

.inputSearch {
    color: #09223B;
}

html[data-theme='dark'] .inputSearch {
    color: #F5F6F7;
}

.aisPoweredBy {
    margin-top: 0.5rem;
    margin-right: 26px;
}
  
.aisPoweredBylogo {
    height: 1rem;
}

.resultLinkContainer {
    display: flex;
}

.parentDocText {
    color: #486581;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow-x: hidden;
    display: block;
    padding-top: 13px;
    width: 30%;
}

html[data-theme='dark'] .parentDocText {
    color: white;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow-x: hidden;
    display: block;
    padding-top: 13px;
    width: 30%;
}

.resultLink {
    font-weight: 500;
    font-size: 14px;
    color: black;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    height: 45px;
    padding-top: 13px;
    padding-left: 11px;
    padding-right: 9px;
    margin-right: 26px;
    width: 70%;
}

html[data-theme='dark'] .resultLink {
    font-weight: 500;
    font-size: 14px;
    color: white;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    height: 45px;
    padding-top: 13px;
    padding-left: 11px;
    padding-right: 9px;
    margin-right: 26px;
    width: 70%;
}

.resultLink:hover {
    background-color: #F0F4F8;
    border-radius: 4px;
}

html[data-theme='dark'] .resultLink:hover {
    background-color: #0083FF;
    border-radius: 4px;
}

.highlineText {
    color: #0077ED;
}

html[data-theme='dark'] .highlineText {
    color: #7FD6FF;
}