.formContainer {
    height: 54px;
    border: 20px !important;
    border-radius: 14px !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.aisPoweredBy {
    margin-top: 0.5rem;
}
  
.aisPoweredBylogo {
    height: 1rem;
}

.resultLinkContainer {
    display: flex;
}

.parentDocText {
    color: #486581;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow-x: auto;
    display: block;
    padding-top: 13px;
    width: 30%;
}

.resultLink {
    font-weight: 500;
    font-size: 14px;
    color: black;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    height: 45px;
    padding-top: 13px;
    padding-left: 11px;
    padding-right: 9px;
    width: 70%;
}

.resultLink:hover {
    background-color: #F0F4F8;
    border-radius: 4px;
}