/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import "modules/notes.css";
@import "modules/custom.css";
@import "modules/ordered_list_unordered_list_step_substep_choice.css";
@import "modules/cause_condition_context_example_postreq_prereq_remedy_result_steps_stepsection.css";
@import "modules/choices_info_stepresult_stepexample_solution_substeps_troublesolution.css";
@import "modules/choices_steps_substeps_numbering.css";
@import "modules/definition_list.css";
@import "modules/hide_empty_elements.css";
@import "modules/related_links.css";

@font-face {
  font-family: FontAwesome;
  src: url("@site/static/FontAwesome.otf") format("truetype");
}

@font-face {
  font-family: Inter;
  src: url("@site/static/Inter.ttf") format("truetype");
}

:root {
  --ifm-color-primary: #0077ED;
  --ifm-color-primary-dark: #006BD5;
  --ifm-color-primary-darker: #0060C0;
  --ifm-color-primary-darkest: #004E9B;
  --ifm-color-primary-light: #0083FF;
  --ifm-color-primary-lighter: #009EFF;
  --ifm-color-primary-lightest: #32BEFF;
  --ifm-code-font-size: 95%;
  --ifm-menu-color: #243B53;
  // --ifm-font-family-base: Inter;
  --aa-primary-color-rgb: #486581 !important;
  --aa-scrollbar-track-background-color-rgb: 255, 255, 255 !important;
  --aa-scrollbar-thumb-background-color-rgb: 127, 127, 127 !important;
  .menu__link--sublist-caret:after {
    background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #00AEFF;
  --ifm-color-primary-dark: #009EFF;
  --ifm-color-primary-darker: #0077ED;
  --ifm-color-primary-darkest: #006BD5;
  --ifm-color-primary-light: #009EFF;
  --ifm-color-primary-lighter: #32BEFF;
  --ifm-color-primary-lightest: #7FD6FF;
  --ifm-menu-color: white;
  // --ifm-font-family-base: Inter;
  --aa-primary-color-rgb: #F5F6F7;
  --aa-scrollbar-track-background-color-rgb: 68, 70, 75 !important;
  --aa-scrollbar-thumb-background-color-rgb: 162, 163, 165 !important;
  .menu__link--sublist-caret:after {
    background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
  }
}

html[data-theme='dark'] .aa-ClearButton svg {
  color: #F5F6F7 !important;
  opacity: 0.7;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.bar-items-download {
  border-width: 2px;
  border-style: groove;
  border-radius: 12px;
  margin-right: 19px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.bar-items-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

// rating
.rating-msg {
  display: none;
}

.rating-icons {

  * {
    color: #243B53 !important;
    background: unset !important;
    display: inline-block !important;
    float: none !important;
    border: 1px solid #486581 !important;
    border-radius: 28px !important;
    padding-left: 17px !important;
    padding-top: 10px !important;
    width: 90px !important;
    height: 40px !important;
    margin-left: 10px !important;
  }

  &:hover {
    opacity: .8;
    .rating-nero-value {
      font-weight: normal !important;
    }
  }

  .rating-nero-value {
    padding-left: 0 !important;
    padding-right: 8px !important;
    font-weight: normal !important;
    display: none !important;
  }

  .rating-nero-icon {

    &::before {
      font-family: FontAwesome;
    }

    &#PDRTJS_8726954_nero_1::after {
      font-size: 14px;
      margin-left: 5px;
      font-weight: 600;
      content: 'Yes';
    }

    &#PDRTJS_8726954_nero_2::after {
      font-size: 14px;
      margin-left: 5px;
      font-weight: 600;
      content: 'No';
    }

    &#PDRTJS_8726954_nero_1::before {
      content: "\f164";
    }

    &#PDRTJS_8726954_nero_2::before {
      content: "\f165";
    }

    &#PDRTJS_8726954_nero_1:hover {
      background: #E5F6FF !important;
      border: 1px solid #0077ED !important;
      color: #0077ED !important;
    }

    &#PDRTJS_8726954_nero_1:active {
      background: #0077ED !important;
      border: 1px solid #0077ED !important;
      color: white !important;
    }

    &#PDRTJS_8726954_nero_2:hover {
      background: #FDF3E8 !important;
      border: 1px solid #F0821E !important;
      color: #F0821E !important;
    }

    &#PDRTJS_8726954_nero_2:active {
      background: #F0821E !important;
      border: 1px solid #F0821E !important;
      color: white !important;
    }
  }
}

html[data-theme='dark'] .rating-icons {

  * {
    color: white !important;
    border: 1px solid white !important;
  }

}

.aa-GradientBottom {
  height: 0px !important;
}