/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import "modules/notes.css";
@import "modules/custom.css";

:root {
  --ifm-color-primary: #0077ED;
  --ifm-color-primary-dark: #006BD5;
  --ifm-color-primary-darker: #0060C0;
  --ifm-color-primary-darkest: #004E9B;
  --ifm-color-primary-light: #0083FF;
  --ifm-color-primary-lighter: #009EFF;
  --ifm-color-primary-lightest: #32BEFF;
  --ifm-code-font-size: 95%;
  --ifm-menu-color: #243B53;
  --aa-primary-color-rgb: #486581 !important;
  .menu__link--sublist-caret:after {
    background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #00AEFF;
  --ifm-color-primary-dark: #009EFF;
  --ifm-color-primary-darker: #0077ED;
  --ifm-color-primary-darkest: #006BD5;
  --ifm-color-primary-light: #009EFF;
  --ifm-color-primary-lighter: #32BEFF;
  --ifm-color-primary-lightest: #7FD6FF;
  --ifm-menu-color: white;
  --aa-primary-color-rgb: #F5F6F7;
  .menu__link--sublist-caret:after {
    background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
  }
}

html[data-theme='dark'] .aa-ClearButton svg {
  color: #F5F6F7 !important;
  opacity: 0.7;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.bar-items-download {
  border-width: 2px;
  border-style: groove;
  border-radius: 12px;
  margin-right: 19px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.bar-items-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}